/* small vieports style start */

@media only screen and (max-width: 475px){
    /* nav bar start */
    .nav-bar
    {
        flex-direction: column;
        width: 100vw;
        height: 280px;
    }
    .manus{
        flex-direction: column;
    }
     /* nav bar start */
    /* Banner section style start */
    .bennar-section{
        flex-direction: column-reverse;
        width:100%;
        margin: 0 auto;
    }
    .bannar-photo {
        width:80%;
        margin: 0 auto; 
        margin-bottom: 20px; 
    }
    .content  {
        width:100%;
        height: 400px;
        margin: 0 auto;
    }
    .bennar-content{
        width:80%;
        margin: 0 auto; 
        margin-bottom: 10px; 
    }
    .bannar-photo img{
        width: 100%;
        height: 100%;
        
    }
    .bennar-content h2{
        font-size: 2.50rem;
}
    .bennar-content h1{
        font-size: 3rem;
}
    .bennar-content p{
        font-size: 1rem;
}
.banner-btn button{
    padding: 10px 20px;
    font-size: 1rem;
}
 /* Banner section style end */
/* Gamer section style start */
.gamer-section{
    flex-direction: column;
}
.gamer-photo{
    width: 100%;
    height: 200px;
    margin: 20px 20%;
}
.gamer-content{
    width:100%;
    text-align: center;
}
.gamer-content h2{
    font-size:2rem ;
}
.gamer-content p{
    font-size: 1rem;
}
.gamer-content h3{
    font-size: 1.20em;
}
/* Gamer section style end */
/* Online Games Funny Videos section style start */
.videos-content h1{
    font-size: 2rem;
}
.videos-content p{
    font-size: 1rem;
    margin-bottom: 10px;
}
.videos{
    grid-template-columns: 1fr;
    row-gap: 130px;
    width: 80%;
    margin: auto;
}
/* Online Games Funny Videos section style  */


}
    /* small vieports style End */