*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common icon style start  */
.nav-icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    margin-left: 10px;
}
.linear-gradient{
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-icon img{
    width: 100%;  
}
/* common icon style end  */
/* Nav bar style start */
.nav-bar{
    max-width: 1920px;
    margin: 0 auto;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
    display: flex;
    align-items: center;
}
.logo{
    width: 86.041px;
    height: 40px;
}
.logo img{
    width: 100%;
}
.g-color{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-logo h3{
    color: #0B0223;
    font-size: 2.80rem;
    font-weight: 700;
}
.manus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 25px;
}
.manus li a{
    padding: 10px 15px;
}
.manus li :hover{
    background-color: #FF42A5;
    border-radius: 8px;
    color: #FFF;
}
.manus a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.20rem;
    font-weight: 500;
}

.follow{
    width: 220px;
    height: 45px;
    display: flex;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-size: 1.20rem;
    font-weight: 500;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}
/* Nav bar style end */

/* Banner section style start */
.bennar-section{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    width: 50%;
    height:646px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/Group\ 14.png);
    background-size: cover;
}
.bennar-content{
width: 600px;
margin: 0 auto;

}
.bannar-photo{
    width: 50%;
    height:546px;
   
}
.bannar-photo img{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.bennar-content h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.bennar-content h1{
    font-size: 5.90rem;
    font-weight: 800;
   
}
.bennar-content p{
    color: #534C64;
    font-size: 1.25rem;
    align-items: center;
}
.plye{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.plye img{
    margin-right: 5px;
}
.banner-btn button{
    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 48px;
    margin-top: 15px;
}
.sign-in{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-right: 15px;
}
.go-rogue{
   
    background: #4EC5F7;
}
/* Banner section style End */
/* Gamer section style start */
.gamer-section{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    padding: 0px 60px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-photo{
    width: 55%;
    height: 500px;
}
.gamer-photo img{
    width: 100%;
    height: 100%;
}
.gamer-content{
    width: 45%;
}
.gamer-content h2{
    font-size:3rem ;
    font-weight: 700;
    
}
.gamer-content p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
}
.gamer-content h3{
    color: #534C64;
    font-size: 1.50rem;
    font-weight: 500;
    margin-top: 20px;
}
/* Gamer section style end */
/* Online Games Funny Videos section style start */
.Videos-section{
    max-width: 1440px;
    height: 600px;
    margin: 60px auto;
}
.videos-content{
    text-align: center;
    color: #0B0223;
}
.videos-content h1{
    font-size: 3rem;
}
.videos-content p{
    font-size: 1.25rem;
    color: #534C64;
    font-weight: 400;
}
.videos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px auto;
    justify-content: space-around;
    align-items: center;
    row-gap: 15px;
   
}
.videos-card{
    width: 320px;
    height: 380px;
    margin: 0 auto;
   
}
.videos-card img{
    width: 100%;
    height: 100%;
   
}
.videos-card p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    
}
/* Online Games Funny Videos section style end */
/* Play Instantly, No Downloads No Installs.  section style start */
.play-instantly{
    max-width: 1920px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.play-instantly-content{
    width: 45%;
}
.play-instantly-content h2{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}
.play-instantly-content p{
    color: #534C64;
    text-align: right;
    font-size: 1.12rem;
    font-weight: 400;
}
.play-instantly-photo {
    width: 55%;
    height: 650px;
    margin: 0 auto;
}
.main-img{
    width: 500px;
    height: 550px;
    margin: 0 auto;
}
.main-img img{
    width: 100%;
    height: 100%;
}
.sec-img{
    width: 318.5px;
    height: 365.083px;
    position: relative;
    top: -240px;
    right: -60px;
}
.sec-img img{
    width: 100%;
    height: 100%;
}
/* Play Instantly, No Downloads No Installs.  section style end */
.play-any-content{
    width: 40%;
    text-align: left;
    margin: 0px auto;
}

.play-any-content h2{
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
}
.play-any-content p{
    color: #534C64;
    font-size: 1.12rem;
    font-weight: 400;
}
.play-any-main-img{
    width: 550px;
    height: 550px;
    margin: 0 auto;
}
.play-any-main-img img{
    width: 100%;
    height: 100%;
}
.play-any-pic-sec{
    width: 318.5px;
    height: 365.083px;
    position: relative;
    top: -240px;
    right: -520px;
}
.play-any-pic-sec img{
    width: 100%;
    height: 100%;
}
/* Play Instantly, No Downloads No Installs.  section style end */
/* careers section start */
.careers{
    max-width: 1920px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 30px;
    align-content: center;
}
.careers-contant{
    width: 40%;
    margin: 0 auto;
}
.content-dewscription h2{
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
}
.content-dewscription p{
    color: #FFF;
    font-size: 1.12rem;
    font-weight: 400;
    width: 680px;
   
}


.careers-job{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.career-one{
    text-align: left;
}
.career-tow{
    text-align:right;
}
.careers-job p{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 20px;

}
.careers-photo{
    background-image: url("./images/Group\ 14.png");
    width: 45%;
    height: 600px;

}
.careers-photo img{
    width: 100%;
    height: 100%;
}
/* careers section end */
/* game items style start  */
.game-items{
    max-width: 1920px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin: 0 auto;
    justify-content: space-around;
    row-gap: 5px;
    align-items: center;
}
.game-item{
    display: flex;
    align-items: center;
    width: 220px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    padding: 5px;
    margin: 0 auto;
}
.game-item:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #FF42A5;
}
.items-photo{
    width: 60px;
    height: 60px;
}
.game-item img{
    width: 100%;
    height: 100%;
}
.game-item p{
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    }
    /* game items style end  */